* {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
body {
    margin: 0;
}
.hero {
    background-color: #1f2937;
    display: flex;
    flex-flow: column wrap;
    min-height: 500px;
    justify-content: space-between;
    padding: 0 72px;
    padding-bottom: 72px;
}
.hero-second {
    gap: 300px;
    align-items: flex-end;
}
.hero-first h2 {
    font-size: 24px;
    color: #f9faf8;
}
.container h1 {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;

}
button {
    color: #ffffff;
    background-color: #3882f6;
    padding: 8px 32px;
    border-radius: 8px;
    font-size: 18px;
    border: none;
}

.hero-image {
    width: 400px;
    height: 267px;
    border-radius: 8px;
}
.hero-first,
.hero-second {
    display: flex;
    justify-content: space-between;
}
ul {
    list-style: none;
    display: flex;
    gap: 16px;
}
.container p,
ul {
    font-size: 18px;
    color: #e5e7eb;
}

.info-image {
    width: 175px;
    height: 150px;
    border-radius: 12px;
}

.info-title {
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    padding: 24px;
}
.second-part {
    display: flex;
    height: 375px;
    padding: 0 72px;
    justify-content: center;
    gap: 24px;
}
.second-part p {
    text-align: center;
    color: #4b5563;
    font-size: 18px;
}
.second-part-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 8px;
    max-width: 175px;
}
.quote {
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    padding: 64px 260px;
    color: #1f2937;
}
.quote p {
    font-size: 36px;
    font-style: italic;
    margin-bottom: 0git;
}
.quote small {
    font-size: 18px;
    font-weight: 700;
    text-align: right;
}